.container{
    font-family: sans-serif;
    max-width: 80%;
    margin: 8em auto;
    padding: 3em;
}

.container h2{
    font-weight: normal;
    font-style: oblique;
}

.container figure{
    margin: 5em auto;
}

.container figcaption{
    margin: 3em 1em;
}

.container img{
    max-width: 100%;
    border: 1em solid #fff;
    box-shadow: 0 1em 3em rgba(0,0,0,0.2);
}